body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.log-in{
  display:center;
  justify-content: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-color: grey;
  margin: 0 auto;            
  width:300px;
  height:300px;
  margin-top: 125px;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
             
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button.MuiTab-root{text-align: left;
              justify-content: flex-start;
              display: flex;
              width: 200px;
              flex-direction: row;
               border-top-left-radius: 6px;
               border-top-right-radius: 6px;
               border-color: grey;
              border-width: 1px;
              border-style: solid ;
}

.header{
color: green;
font-size: 40px;
 justify-content: center;
}
.ui-form{
display: flex;
justify-content: flex-start;
flex-direction: column;
float: inherit;
align-items: center;         

}
.dropdown{
  display: flex;
   justify-content: center;
  width: 100%;
  height: 20px;
  margin: 20px;
}
.submit-button{
  background-color: #16ab39;
    color: #fff;
    text-shadow: none;
  width: 100%;
  height: 50px;
  padding: 15px 32px;

  text-align: center;
    font-size: 16px;


}